.container {
    background-image: url('../images/background2.svg');
    height: 100vh;
    width: 100%;
    background-image: url('../images/background2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    padding: 20px;
}

.titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 75%;
}

.logo {
    width: 150px;
    height: auto;
}

.welcome-text {
    font-size: 16px;
    color: #333;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 10px;

}

.logIn-button,
.google-button {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
}

.google-button {
    gap: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.google-button:hover {
    border: solid 1px black;
}

.logIn-button {
    background-color: #5B6CAA;
    color: white;
}

.google-button {
    background-color: white;
    border: 1px solid #ddd;
    color: #333;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

.inputBox {
    width: 100%;
    margin-bottom: 8%;
}

.input-wrapper {
    position: relative;
    width: 80%;
    margin-left: 7%;
    padding: 2%;
}

.input-wrapper input {
    background-color: #e2e2e2;
    width: 100%;
    max-width: 400px;
    padding: 12px 45px 12px 15px;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-wrapper .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.logIn-button {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 45%;
}

.logIn-button {
    background-color: #5B6CAA;
    color: white;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}